.container{
	width: 1170px;
	margin:0 auto;
}
.header{
	padding: 20px 0px;
	background-color: white;
}
.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navigation-ul{
	display: flex;
}
.navigation-li{
	margin-right: 15px;
}
.navigation-a{
	color: #3D58A6;
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
}
.navigation-li:last-child{
	margin-right: 0px
}
.social-ul{
	display: flex;
}
.social-li:after{
	content: '';
	height: 30px;
	width: 2px;
	background-color: #3D58A6;
	display: inline-block;
	margin: 0px 30px;

}
.social-li:last-child:after{
	display: none;
}
.first-box{
	background-color: #E6E6E6;
	padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    margin-top: 10px;

}
.things{
	color: white;
	font-size: 30px;
	position: absolute;
	bottom: 80px;
	left: 120px;
	font-family: 'Roboto', sans-serif;
	
}
.logo-2{
	position: absolute;
	right: 123px;
	bottom: 80px;
}
.second-box{
	background-color: #363E97;	
	padding: 35px 0px;
}
.box{
	width: 570px;
	height: 320px;
	background-color: white;
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;   
}
.second-box-header{
	display: flex;
	align-content: flex-start;
	margin-left: 100px;
}
.p1:after{
	content: '';
	height: 18px;
	width: 2px;
	background-color: #fff;
	display: inline-block;
	margin: 0px 10px;

}
.par{
	color: #fff;
	font-size: 24px;
	padding-bottom: 30px;
}
.Third-box{
	background-color: #BDCCD4;
	padding: 38px 0px 88px 0px;
}
.Third-box-header{
	display: flex;
	align-content: flex-start;
	margin-bottom: 30px;
}
.p2:after{
	content: '';
	height: 20px;
	width: 2px;
	background-color: #3D58A6;
	margin: 0px 10px;
	display: inline-block;

}
.par-style{
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	color: #3D58A6;
}
.under{
	width: 270px;
	height: 60px;
	background-color: #E6E6E6;
	display: block;
	padding: 16px
}
.ff{
	display: block;
}
.under-p{
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
}
